<div class= "field text-center">
  <div class= "field text-center w-75 p-3">
    <%= form_with(url: follow_another_new_path(@user.user_name), method: 'post') do |form| %>
      <div class="field form-group" >
        <strong>
          <%= form.label :user_name %>
        </strong>
        <br>
        <%= form.text_area :user_name %>
      </div>
    <br>
    <div class="actions form-label">
        <%= form.submit 'follow user', class:"btn btn-info" %>
    </div>
    <% end %>
  </div>
</div>